annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
evdev==2.0.0
fastapi==0.141.1
flatbuffers==25.12.19
h11==0.16.0
idna==3.20
ImageIO==2.37.4
insightface==2.0
lazy-loader==0.6
ml_dtypes==0.6.0
networkx==3.7
numpy==2.5.3
onnx==1.23.0
onnxruntime==1.30.0
opencv-python==5.0.0.93
packaging==26.3
pillow==12.3.0
protobuf==7.36.2
pydantic==2.13.5
pydantic_core==2.46.5
PyMySQL==1.2.3
pynput==1.8.2
python-multipart==0.0.32
python-xlib==0.33
requests==2.34.2
scikit-image==0.26.0
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
starlette==1.7.0
tifffile==2026.9.20
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.54.0
wheel==0.48.0
